services:
  rwtf_nginx:
    image: nginx:mainline-alpine
    pull_policy: always
    init: true
    restart: unless-stopped
    volumes:
      - webapp-content:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - screenshot-data:/screenshot
    depends_on:
      server:
        restart: true
        required: true

  server:
    build: server
    init: true
    restart: unless-stopped
    depends_on:
      mariadb:
        restart: true
        required: true
    environment:
      - TZ=Europe/Berlin
    volumes:
      - ./study_files:/tmp/study_files

  mariadb:
    image: mariadb
    pull_policy: always
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=secret
      - MYSQL_DATABASE=mydatabase
      - MYSQL_USER=myuser
      - MYSQL_PASSWORD=mypassword
      - TZ=Europe/Berlin
    volumes:
      - ./mariadb-data:/var/lib/mysql
  screenshot:
    build: screenshot
    init: true
    restart: unless-stopped
    depends_on:
      - rwtf_nginx
    environment:
      - TZ=Europe/Berlin
    volumes:
      - screenshot-data:/data

volumes:
  webapp-content:
  screenshot-data:
